@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: 'inter',sans-serif;
}
body{
    width: 90vw;
    height: 90vh;
    background-color: #fe5789;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    color: white;
    text-align: center;
}
div h3{
    font-size: 20px;
    font-weight: 500;
}
div button{
    border: none;
    background-color: rgb(41, 13, 180);
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 18px;
}
b{
    color: #2c3e50;
    background-color: white;
    border-radius: 50%;
    padding: 4px;
}
h1{
    margin: 50px;
}
